@import url("normalize.css");
@import url("grid.css");
@import url("fonts.css");

:root {
  --text-color: #333333;
  --shadow-color: rgba(19, 182, 255, 0.24);
  --app-bg-color: #fff;
  --section-bg-color: #fff;
  --primary-color: #0abead;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

html {
  font-size: 10px;
}


.app-btn {
  width: 16rem;
  height: 5rem;
  border-radius: 4rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  font-family: "Poppins Semibold";
  box-shadow: 0 0 4rem rgba(11, 190, 173, 40%);
}


.app-btn--orange {
  background-color:#F57F17;
  box-shadow: 0 0 4rem rgba(245, 127, 23, 24%);
}


.align-items-center {
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}



body {
  font-family: "Poppins";
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--app-bg-color);
}

.header {
  background-color: var(--section-bg-color);
  box-shadow: 0 0.5rem 4rem rgba(4, 195, 255, 16%);
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
.nav__logo {
  color: var(--primary-color);
  font-family: "Poppins Black";
  font-size: 5rem;
}
.menu {
  display: flex;
  align-items: center;
  z-index: 100;
  
}

.menu__item {
  margin-left: 4rem;
}

.menu__item:first-child {
  margin-left: 0;
}
.menu__link {
  display: inline-block;
  color: var(--text-color);
  font-family: "Poppins Medium";
  transition: color 200ms ease-in;
}

.menu__link:hover{
    color: var(--primary-color);
}

.menu__link--active {
  color: var(--primary-color);
}
.nav__toggle-icon {
  display: none;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav__toggle-line {
  width: 4.5rem;
  height: 0.4rem;
  background-color: var(--primary-color);
  border-radius: 2rem;
  position: relative;
  transition: all 200ms ease-in;
}

.nav__toggle-line::before,
.nav__toggle-line::after {
  content: "";
  position: absolute;
  width: 4.5rem;
  height: 0.4rem;
  border-radius: 2rem;
  background-color: var(--primary-color);
  transition: all 200ms ease-in;
}

.nav__toggle-line::before {
  top: 1rem;
}

.nav__toggle-line::after {
  top: -1rem;
}

.nav__toggle-icon--open .nav__toggle-line{
    background-color: transparent;
  }

.nav__toggle-icon--open .nav__toggle-line::before {
  transform: translateY(-1rem) rotate(-45deg);
}

.nav__toggle-icon--open .nav__toggle-line::after {
  transform: translateY(1rem) rotate(45deg);
}
.cover{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,50%);
    z-index: -1;
    opacity: 0;
}

.cover--show{
    opacity: 1;
    z-index: -1;

}


.main{
  padding-top: 20rem;
}
.home__content{
  margin-top: 3rem;

}
.home__name{
  font-family: "Poppins Semibold";
  color: var(--primary-color);
  font-size: 2.2rem;
  margin: 0;

}
.home__name span {
  color: #F57F17;
  
}
.home__title{
  font-family: "Poppins Bold";
  color: var(--primary-color);
  font-size: 4rem;
  margin: 0;

}
.home__caption{
  margin-top: 1rem;
  margin-bottom: 2rem;
  opacity: 70%;

}
.home__links--wrapper{
  display: flex;
  gap: 2rem;

}
.home__link{

}
.home__link{

}


.home__picture{
  width: 50rem;
  height: 50rem;
  border-radius: 100%;
  background-color: blue;
  background-image: url("../images/header-avatar.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: cover;
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
  border: 2rem solid #fff;
  
}


.home__shape {
  width: 120%;
  padding-left: -3rem;
  margin-left: -10rem;
}



.aboutus{
  margin-top: 7rem;

}
.section-head{
  text-align: center;
  margin-bottom: 4rem;
  
  

}
.section-head__title{
  font-family: "Poppins Bold";
  font-size: 4rem;
  color: var(--primary-color);
  margin: 0;
  letter-spacing: 0.25;
  
  

}

.section-head__caption {
  color: var(--text-color);
  font-family: "Poppins";
  margin: 1 0;

}
.section-head__line{
  margin: 0 auto;
  display: block;
  width: 18rem;
  height: 0.2rem;
  background-color: var(--primary-color);
  position: relative;

}


.section-head__line::after {
  position: absolute;
  content: " ";
  width: 4rem;
  height: 0.8rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 2rem;
  background-color: var(--primary-color);

}
.about{
  background-color: var(--section-bg-color);
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
  display: flex;
  justify-content: center;
  /* align-items: center; */

}
.about__cover{
  /* margin-bottom: 0;
  padding: 0; */
  flex-basis: 50%;
}
.about__cover__image{
  width: 100%;
  object-fit: cover;
  height: 100%;
  
  

}
.about__content{
  padding: 1rem 4rem;
  flex-basis: 50%;

}
.about__content__title{
  font-family: "Poppins Semibold";
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 2rem;


}
.about__content__description{
  margin-top: 0;
  margin-bottom: 6rem;

}
.about__list-title{
  font-family: "Poppins Semibold";
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 1rem;

}
.about-list{
  margin-left: 1rem;

}
.about-list__item{
  margin-bottom: 1rem;
  position: relative;
  padding-left: 2.5rem;
}

.about-list__item:last-child {
  margin-bottom: 0;
}


.about-list__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: #F57F17;
  margin: auto;

}



.about-links__wrapper{
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
.about-link{

}



.services{
  text-align: center;
  margin-top: 10rem;

}
.services__head{
  text-align: center;

}
.services__content{
  /* display: flex;
  gap: 1rem;
  flex-wrap: wrap; */
  padding-top: 5rem;
  overflow: hidden;

}
.services__item{
  width: 40rem;
  height: 35rem;
  background-color: purple;
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
  padding-bottom: 2rem;
  margin: 1rem;
  flex-grow: 1;


}

.services__item__title{
  font-family: "Poppins Bold";
  font-size: 2rem;


}
.services__item__caption{
  max-width: 30rem;
  margin: 0 auto;
  

}

.services__item--gold{ 
  background-color: gold;
}

.services__item--red {
  background-color: red;
}
  


.services__item--orange{
  background-color: orange;
}
.services__item--blue{
  background-color: blue;
}
.services__item--green{
  background-color: green;
}


.resume {
  margin-top: 20rem;
  text-align: center;
  box-shadow: 0 0 4rem rgba(19, 182, 255, 24%);
  padding: 10rem;
  transform: skewY(-6deg);
}

.skew-reset {
  transform: skewY(6deg);
}

/* .resume__content{
  display: flex;
} */
.items{
  /* width: 200px;
  height: 200px; */


}
.resume__content{
  margin-top: 5rem;
  


  /* width: 200px;
  height: 200px; */

}

.resume-content{
  
}

.resume-list {
  background-color: var(--app-bg-color);
  box-shadow: 0 0 6rem rgba(96, 233, 255, 27%);
  position: relative;
  z-index: 5;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 40rem;
}

.resume-list::before {
  content: " ";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  width: 4rem;
  z-index: -1;
}


.h-full {
  height: 100%;
}


.resume-list__item{
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 5;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  font-size: 1.8rem;

  

}

.resume-list__item::before {
  content: " ";
  position: absolute;
  letter-spacing: 0;
  top: 0;
  bottom: 0;
  background-color: var(--primary-color);
  width: 5rem;
  border-radius: 2rem;
  z-index: -1;
  transition: all 0.3s ease-in;

}

.resume-list__item:last-child{
  margin-bottom: 0;
}
.resume-list__item--active::before{
  max-width: 26rem;
  width: 100%;

}
.resume-list__item--active span {
  color: #fff;
}
.resume-list__icon{
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  
   margin-left: 1rem;


}
.resume-list__text{
  font-family: "Poppins Semibold";
  font-size: 1.4rem;
  margin-left: 2rem;

}
.resume-content{
  /* display: none; */
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
  

}
.resume-content--active{
  /* display: block; */
  opacity: 1;
  height: auto;
  overflow: visible;
  transition: all 0.3s ease-in;

}
.resume-content__item{
  margin-bottom: 2rem;

}
.resume-content__item:last-child {
  margin-bottom: 0;
}
.resume-content__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}
.resume-content__head__title {
  color: #ff5823;
  font-family: "Popping Semibold";
  font-size: 1.8rem;
  margin: 0;
  position: relative;
}

.resume-content__head__title::before {
  position: absolute;
  content: "";
  top: 0;
  left: -5rem;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  background-color: var(--primary-color);
  border-radius: 2rem;
  margin: auto;

}
.resume-content__head__date{
  background-color: #ff5823;
  border-radius: 2rem;
  padding: .5rem 1rem;
  color: #fff;

}
.resume-content__subtitle{
  font-family: "Poppins Semibold";
  font-size: 1.6rem;
  margin: 1rem 0;

}
.resume-content__caption{
  margin: 0;

}


.warpper {
  text-align: left;
  background-color: var(--section-bg-color);
  border-left: 3px solid var(--primary-color);
  padding-left: 4rem;

}



.portfolio-list{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
.portfolio-list__item{
  margin-right: 4rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  

  
  

}
.portfolio-list__item--active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 5rem;
  border-radius: 6rem;
  color: #fff;
  font-family: "Poppins Semibold";
  background-color: var(--primary-color);
  transition: all 0.3s ease-in;
 
  
}
.portfolio-list__item:last-child {
  margin-top: 0;
}




.portfolio__content{
  display: none;
  text-align: center;
}


.portfolio-content__image {

}

.swiper-pagination-bullet {
  width: 2rem !important;
  height: 2rem !important;
  border: 4px solid #BFBEBE !important;
  background-color: #fff !important;

}

.swiper-pagination-bullet-active{
  border-color: var(--primary-color) !important;

}

/* .swiper{
  height: 0 !important;
  overflow: hidden !important;
  opacity: 0 !important;
}
.swiper--active {
  height: auto !important;
  overflow: visible !important;
  transition: all 0.2s ease-in !important;
  opacity: 1 !important;
} */

.portfolio-content {
  /* display: none; */
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in;

}

.portfolio-content--active {
  height: auto;
  opacity: 1;
  overflow: visible;
  transition: all 0.2s ease-in;
} 





.pricing__items{
  margin-top: 5rem;
  gap: 1rem;
  justify-content: space-evenly;
}
.pricing__item{
  text-align: center;
  box-shadow: 0 0 2rem rgba(11, 190, 173, 20%);
  
  padding-bottom: 4rem;
  padding-left: 0;
  padding-right: 0;
  max-width: 40rem;
  flex-grow: 1;

}
.item__head{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  font-family: "Poppins Semibold";

}
.item__head__title{
  margin: 0;
  padding:0;

}

.item__head__price{
  margin: 0;
}
.item__head__caption{
  margin: 0;
  padding: 0;
  padding-bottom: 3rem;

}
.pricing-list{
  margin-top: 4rem;

}
.pricing-list__item{
  margin-bottom: 2rem;

}

.pricing-btn {
  margin: 0 auto;
  border: none;
}

.item__head--orange{
  background-color: #ff6331;

}

.item__head--pink {
  background-color: #f5276c;
}

.item__head--purple {
  background-color: #803afb;
}

.tick-svg{
  width: 2rem;
  height: 2rem;
  
}

.pricing-btn--pink {
  background-color: #f5276c;
}

.pricing-btn--purple {
  background-color: #803afb;
}

.pricing-btn--orange {
  background-color: #ff6331;
}

.contactus {
  margin-top: 6rem;
  
}


.contactus__wrapper{
  background-image: url("../images/map.jpg");
  height: 60rem;
  margin-top: 4rem;
  position: relative;
  padding: 4rem 0;
}
.contactus__map{
  width: 6rem;
  height: 6rem;
  background-color: var(--app-bg-color);
  border-radius: 100%;
  box-shadow: 0 0 4rem rgba(19, 182, 255, 24%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 20%;

}
.contact{
  background-color: var(--app-bg-color);
  box-shadow: 0 0 4rem rgba(19, 182, 255, 24%);
  max-width: 50rem;
  padding: 5rem 4rem;
  height: 100%;
  margin-left: auto;

}
.contact__title{
  font-family: "Poppins Bold";
  font-size: 3.2rem;
  color: var(--primary-color);
  margin: 0;

}
.contact__form{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2rem;


}
.contact__form__input{
  border: none;
  outline: none;
  box-shadow: 0 0 5rem rgba(96, 233, 255, 27%);
  border-radius: 1.3rem;
  padding: 1rem 2rem;

}

.contact__form__input::placeholder {
  color: var(--text-color);
}

.contact-btn {
  width: 100%;
  border: none;
}

.contact__form__input--textarea{
  resize: vertical;
  min-height: 5rem;
  height: 7rem;
  max-height: 15rem;
}