@media screen and (max-width: 1200px) {
    .home__picture {
        width: 38rem;
        height: 38rem;
    }

    .services__content {
        text-align: center;
        margin: 0 auto;
        justify-content: center;
     }
    
}


@media screen and (max-width: 992px) {
    .nav__logo {
        font-size: 5rem;
    }
    .menu__item {
        margin-left: 2rem;
    }
    .col-reverse {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .about {
        flex-direction: column;
    }

    .home__links--wrapper {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .services__content {
       text-align: center;
    }

    .services__item {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .resume-list::before, .resume-list__item::before {
        content: none;
    }
    .resume-list__icon {
        display: none;
    }
    .resume-list {
        flex-direction: row;
        box-shadow: none;
        background-color: transparent;
        
        gap: 2rem;
        flex-wrap: wrap;
        align-items: flex-start;
        min-height: auto;

    }

    .resume-list__item {
        
        background-color: #49AF46;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 2rem;
    }
    .resume-list__item > span {
        margin: 0;
    }
    .resume-content {
        border-left: none;
    }

    .resume-content__head__title::before {
        content: none;

    }
    .portfolio-list {
        flex-wrap: wrap;
    }
    .portfolio-list__item {
        margin-bottom: 3rem;
    }
    
}

@media screen and (max-width: 768px) {
    .menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        background-color: var(--section-bg-color);
        flex-direction: column;
        width: 100%;
        right: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        transition: all 200ms ease-in;
        height: 0;
        overflow: hidden;
        
    }
    .menu__item {
        
        margin: 0;
        margin-bottom: 2rem;
        
    }

    .menu__item:first-child {
        margin-top: 2rem;
    }

    .menu__item:last-child {
        margin-bottom: 2rem;
    }

    .nav__toggle-icon {
        display: flex;
    }

    .menu--open {
        height: 33rem;
    }


    .pricing__items{
        justify-content: center;

    }
    .pricing__item {
        width: 100%;
    }

    
    
}


@media screen and (max-width: 576px) {
    
}